<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitstudy.app.dao.typeMapper">

    <!--    모든 타입 불러오기     -->
    <select id="selectAll" resultType="TypeDto">
        select * from type
    </select>

    <!--    타입 불러오기     -->
    <select id="select" parameterType="int" resultType="TypeDto">
        select * from type where num = #{num}
    </select>

</mapper>